<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->
<!--百度统计，优化SEO，后续移除-->
<script>
  var _hmt = _hmt || [];
  (function () {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?30a0f77b41c48de45281b48daec1fcba";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
</script>

<!--谷歌统计，优化SEO，后续移除-->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PGQ48PBSRN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PGQ48PBSRN');
</script>